# RunPod worker
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION_STRING=
TELEGRAM_CHANNEL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
MAX_FILE_BYTES=4294967296
TMP_DIR=/tmp/gdrive-tg

# Cloudflare Worker
ADMIN_PASSWORD=
RUNPOD_API_KEY=
RUNPOD_ENDPOINT_ID=
GOOGLE_DRIVE_FOLDER_ID=1KtKXjwU_ODuuOrLs5ZpVUU4c3qBwK6YZ
